.container {
  padding: 20px;
}

.searchBar {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.postList {
  list-style-type: none;
  padding: 0;
}

.postItem {
  background: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
}

.postItem:hover {
  background: #e9e9e9;
}

/* Local class for button */
.button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}
.pagination{
  text-align: center;
}
.pagination button{
  padding: 10px 20px;
  margin: 30px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.pagination button:hover {
  background-color: #0056b3;
}